<!DOCTYPE html>
<html lang="en">
<html  xmlns:th="http://www.thymeleaf.org"  lang="en">

<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">

    <link rel="icon" type="image/png" sizes="16x16" href="image.png">

    <title>Conditionnement de l'article</title>
</head>
<body>
<div class="container" th:if="${session.username}">
    <nav class="navbar navbar-expand-lg" style="background-color: #e3f2fd;">
        <div class="container-fluid" >
            <a class="navbar-brand" th:href="@{/accueil}" ><font size="+3"><strong>N-Stock</strong></font></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" th:href="@{/articles}"><font size="+1.5">Articles</font></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/familles}"><font size="+1.5">Familles d'articles</font></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/clients}"><font size="+1.5">Clients</font></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/fournis}"><font size="+1.5">Fournisseurs</font></a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <font size="+1.5">  Gestion</font>
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <li><a class="dropdown-item" href="#">Achat</a></li>
                            <li><a class="dropdown-item" href="#">Vente</a></li>
                            <li><a class="dropdown-item" href="#">Factures</a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <form th:action="@{/articles/search}" method="post">
                            <input type="search" name="search" class="form-control" placeholder="Rechercher un article">


                    </li>
                    <li class="nav-item">&nbsp;
                        <button type="submit" class="btn btn-success">Rechercher</button>

                    </li>
                    </form>
                </ul>
            </div>
        </div>
    </nav>
    <br><br>
    <h5 th:text="'Bienvenue ' +${session.username}"></h5>
    <a href="/logout" class="btn btn-danger">Se Déconnecter</a>
    <br> <br>
    <div class="row">
    <div class="col-6" th:each="c: ${c}">
    <div class="card" style="width: 18rem;" >
        <img th:src="${ar}" class="card-img-top" alt="Aucun image de produit">
        <div class="card-body">
            <span class="card-text">
                <h3 th:text="${a}"></h3>
                <b>Unité: </b>
                <span th:text="${c.unite}"></span>  <br>
                <b>Quantité: </b>
                <span th:text="${c.qte}"></span>  <br>
                <b>Prix d'achat: </b>
                <span th:text="${c.prixA}"></span>  <br>
                <b>Prix vente: </b>
                <span th:text="${c.prixV}"></span>  <br>
            </span>

        </div>
    </div>
    </div>
    </div>
    <br>
 <a class="btn btn-success" th:href="@{/addC/{id}(id=${id})}">Ajouter un Conditionnement</a>
<br><br>
    <a th:href="@{/articles}" class="btn btn-primary">Retour à la liste des articles </a>

</div>
<div class="container" th:unless="${session.username}">
    <h1 style="text-align: center; color: red">Vous devez se connecter d'abord</h1>
    <a href="/login" class="btn btn-danger">Se Connecter</a>
</div>
</body>
</html>
</html>